*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
header{
    width: 100%;
    height: 700px;
    background-image: url(img/imagenproductos.png);
    background-size: cover;
    opacity: 90%;
    background-attachment: fixed ;
    /* position: relative; */
}

.navegador{
    display: flex;
    position: fixed;
    right: 0;
    left: 0;
    justify-content: space-between;
    align-items: center;
    transition: background-color 2000ms;
    padding: 10px;
}

.navegadorAbajo{
    /* background-color: #6fa622; */
    background-color: rgba(0, 0, 0, 0.932);
}

.navegador h1 {
    margin-left: 20px;
    color: white;
}
.navegador a{
    text-decoration: none;
}
.navegador .color_0{
    color: #41512a;
    font-weight: bold;
    font-size: 40px;
}


ul li{
    display: inline-block;
  
}

header nav ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 30px;  
    transition: color 1000ms;
}

.aabajo{
    color: #fff;
}

nav a:hover{
    color: rgb(0, 255, 89);
}







.conterImg{
    height: 800px;
    width: 100%;
    /* background-color:white; */
    color:n black;
    display: flex;
    justify-content:center;
    /* align-items: center; */
    text-align: center;
}


.contedor{
    width: 90%;
    height: 70vh;
    background-color: rgb(228, 191, 191);
    margin-top: 5vh;
    


}

.caja {
        border: 1px solid black;
        border-radius: 20px;
        padding: 20px;
        margin: 30px 60px;  
    

}


.texto{
    background-color: aquamarine;
    display: flex;
    justify-content:space-between;
    align-items: center; 
    
}
    
/* .caja h1{
    display: flex;
}

.caja p{
    display: flex;
    justify-content:right;

} */


    

img {
    height:40vh ;
    width:30vh ;
}










