*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
header{
    width: 100%;
    height: 700px;
    background-image: url(img/imagenproductos.png);
    background-size: cover;
    opacity: 90%;
    background-attachment: fixed ;
    /* position: relative; */
}

.navegador{
    display: flex;
    position: fixed;
    right: 0;
    left: 0;
    justify-content: space-between;
    align-items: center;
    transition: background-color 2000ms;
    padding: 10px;
}

.navegadorAbajo{
    /* background-color: #6fa622; */
    background-color: rgba(0, 0, 0, 0.932);
}

.navegador h1 {
    margin-left: 20px;
    color: white;
}
.navegador a{
    text-decoration: none;
}
.navegador .color_0{
    color: #41512a;
    font-weight: bold;
    font-size: 40px;
}


ul li{
    display: inline-block;
  
}

header nav ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 30px;  
    transition: color 1000ms;
}

.aabajo{
    color: #fff;
}

nav a:hover{
    color: rgb(0, 255, 89);
}





.conterImg{
    height: 800px;
    /* width: 90vw; */
    /* background-color:rgb(206, 21, 21); */
    color: black;
    display: flex;
    justify-content:center;
    /* align-items: center; */
    text-align: center;

}


.conterImg__filtro{
    background-color: black;
    height:25vh ;
    width: 25vw;
    margin-left:0vw ;
}

.pro{
    /* background-color: black;
    height: 100%; */

    margin-top: 5vh;
    

}


.pro__contedor1, .pro__contedor2 {
    width: 75vw;
    height: 75vh;
    /* background-color: rgb(33, 41, 138);    */
    display: flex;
    justify-content:center;
    /* align-items: center; */
    text-align: center;
    

    


}

.pro__contedor__caja {
        border: 1px solid black;
        border-radius: 20px;
        padding: 20px;
        margin: 30px 20px;  
    

}


.texto{
    /* background-color: aquamarine; */
    display: flex;
    justify-content:space-between;
    align-items: center; 
    
}
    
/* .caja h1{
    display: flex;
}

.caja p{
    display: flex;
    justify-content:right;

} */


    

img {
    height:40vh ;
    width:30vh ;
}


.conteImg__contenedor-caja-button{
    /* background-color: violet; */
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    

}
.conteImg__contenedor-caja-button button{
   
    padding: 7px ;
    border-radius: 5px;
}

.conteImg__contenedor-caja-button-1{
    border: 1px solid black;
    margin-bottom: 4px;
    background-color: white;
    width: 17vw;
   
   


}


.conteImg__contenedor-caja-button-2{
    background-color: #6fa622;
    color: white;
     border: none;
     /* margin-bottom: 5vh; */

}
.conteImg__contenedor-caja-button-2:hover{
    background-color: #537f14;
    
}
/* 
.conteImg__contenedor-caja-button-1:hover{
    background-color: #41512a;
} */












