*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
header{
    width: 100%;
    height: 200px;
    background-color:#d1ff96;
    background-size: cover;
    opacity: 90%;
    background-attachment: fixed ;
    /* position: relative; */
}

.navegador{
    display: flex;
    position: fixed;
    right: 0;
    left: 0;
    justify-content: space-between;
    align-items: center;
    transition: background-color 2000ms;
    padding: 10px;
}

.navegadorAbajo{
    /* background-color: #6fa622; */
    background-color: rgba(0, 0, 0, 0.932);
}

.navegador h1 {
    margin-left: 20px;
    color: white;
}
.navegador a{
    text-decoration: none;
}
.navegador .color_0{
    color: #41512a;
    font-weight: bold;
    font-size: 40px;
}


ul li{
    display: inline-block;
  
}

header nav ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 30px;  
    transition: color 1000ms;
}

.aabajo{
    color: #5ef356;
}

nav a:hover{
    color: rgba(60, 229, 63, 0.835);
}

.parrafo {
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-size: 16px;
}
 
.mensaje_ {
    text-align: center;
    display: flex; 
    padding-left: 7%;
    align-items: center;
    background-color: rgba(193, 247, 100, 0.888);
      
  }

  .mensaje {
    text-align: center;
    background-color: rgba(193, 247, 100, 0.888);
  }

  .one {
    padding-left:10%;
    padding-right: 10%;
    padding-top: 5%;

  }
  
  .Img {
    width: 250px; 
    height: 250px;
    padding: 4%;
    /* margin-right: 5px; */
    border-radius: 23%;
   
}

.subtitulo {
    padding-left: 5%;
    font-size: 18px;
    padding-top: 3%;
  }

  @media (max-width: 600px) {
    .mensaje_ {
        flex-direction: column; 
        text-align: center;
    }
    
    .Img {
        margin-top: 10px;
        height: auto;
    }
}

@media (min-width: 601px) {
    .mesaje_ {
        display: flex;
        flex-direction: row;
        align-items: center; 
    }
    
    .Img {
        margin-left: 20px; 
        height: auto;
    }
}

.fondo {

    font-size:medium;
    background-color: #d1ff96;
    
    /* background-image: url(../img/Diseño\ sin\ título.png) */
    
    
}

h1 {

    text-align: center;
}
h2 {
    text-overflow: ellipsis;
    text-align: center;
}


.primera {
    right: 5%;
    left: 15%;
    margin-top: 3%;
    margin-left: -3%;
    height: 60vh;
    width: auto;
    border-radius: 1rem;
    -webkit-box-shadow: 11px 16px 46px -12px rgba(189,189,189,1);
    -moz-box-shadow: 11px 16px 46px -12px rgba(189,189,189,1);
    box-shadow: 11px 16px 46px -12px rgba(189,189,189,1);

}
.p{
    padding-left: 2rem;
    padding-top: 5rem;
    padding-right: 4rem;
}
 


.texto1 {
    font-family:Arial, Helvetica, sans-serif;
    font-size: large;
    background-color: rgb(255, 255, 255);
    border-radius: 1rem;
    left: 10%;
    right: 10%;
    text-align: center;
    display: flex;
    text-align: start;
    height: 60vh;
    width: 60vh;
    
    
}

.q{
    display: flex;
    padding-bottom: 10rem;
    margin-left: 25%;

}





  
  