@font-face{
    font-family: titulo;
    src: url(../img/letra/FrancoisOne-Regular.ttf);
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

.container{
    max-width: 1200px;
    /* text-align: center; */
    margin: auto;
}

.barra{
    width: 100%;
    height: 90px;
    background-color: #000000;
}

.navegador{
    display: flex;
    position: fixed;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    right: 0;
    left: 0;
    transition: background-color 1000ms;
    z-index: 2; 
}
  
nav {
    display: flex;
    margin-right: 30px;
}

ul li{
    display: inline-block; 
}

header nav ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 30px;  
    /* transition: color 1000ms; */
}







header nav ul li a.uc_superior a{
    margin-right: initial;
    color: initial;
}

header nav ul li a:hover.uc_superior a{
    color: initial;
}

.perfil {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    color: #fff;  
}

.perfil .nombre_usuario{
    cursor: pointer;
}


.ff{
    display: none;
    position: fixed;
    /* background-color: #5a5956; */
    /* background-color: rgb(94, 94, 94); */
    background-color: #ffffff;
    width: 340px;
    height: 170px;

    z-index: 1;
    top: 10%; 
    left: 70%; 
    border-radius: 4px;
}

.uc_superior{
    display: flex;
    justify-content: space-between;
    /* background-color: #6fa622; */
    background-color: #486c16;
    width: 97.5%;
    height: 20%;
    padding: 5px;
}

.uc_superior h3{
    margin: 0;
    color: #fff;
}

.uc_superior span{
    color: #41512a;
    font-weight: bold;
    font-size: 30px;
}

.uc_superior a{
    /* color: #1f4404; */
    color: #fff;
    padding: 0;
    margin: 0;
}

.uc_posterior{
    /* background-color: #0c6c17; */
    width: 100%;
    height: 80%;
    display: flex;
}

.a{
    /* background-color: blue; */
    width: 40%;
    height: 100%;
}

.a img{
    width: 100%;
    height: 90%;
    object-fit: cover;
    border-radius: 50px;
}


.b{
    /* background-color: rgb(255, 0, 208); */
    width: 60%;
    height: 100%;
}

.b h3{
    margin: 20px 0px 0px 10px;
    /* color: #fff; */
}

.b h5{
    margin: 0px 0px 0px 10px;
    /* color: #fff; */
}


/* 
.perfil:hover .ff {
    display: block;
} */

header nav ul li a:hover{
    color: rgb(0, 255, 89);
}


.navegador h1 {
    margin-left: 20px;
    color: white;
}

.navegador .color_0{
    color: #41512a;
    font-weight: bold;
    font-size: 40px;
}

.navegador a{
    text-decoration: none;
} 


/* todo este bloque de codigo es para ver la barra navegadora para celulares */


.icon_menu{
    padding: 5px;
    border-radius: 10px;
}

.menuR{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-height: 0;
    /* transition: max-height 0.6s ease-out; */
    background-color: #000000;
}


.lista{
    /* background-color: #d7b418; */
    background-color: #000000;
    width: 100%;
}

.menuR li{
    list-style: none;
    display: flex;
    justify-content: center;
    border: #1f4404 solid 1px;
    padding: 10px;
}

.menuR a{
    text-decoration: none;
    color: white;

}





@media screen and (min-width:720px){
    .icon_menu{
        display: none;
    } 
    .menuR {
        display: none;
    }
}

@media screen and (max-width:720px){
    .desaparecer{
        display: none;
    }  
}


/* controladores del la barra navegadora al hacer scroll en js  */
.navegadorAbajo{
    background-color: rgba(0, 0, 0, 0.932);
}

.aabajo{
    color: #fff;
}


/* de aqui para abajo es la parte de code del carrito de compras */
.cart{
    width: 39px;
    height: 38px;
} 
.cart-products{
    position: absolute!important;
    top: 82px;
    right: -18px;
    background-color: #fff;
    padding: 0 30px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
    display: none;

    min-width: 290px;
    margin-right: 30px;
}

.cart:hover{
    margin-bottom: 16px;
    transition-duration: .5s;
}

.navegador p{
    position: absolute;
    top: -24px;
    right: -8px;
    background-color: #fff;
    padding: 1px 6px;
    border-radius: 50%;
    color: rgb(8, 121, 21);
    font-weight: 700;
    font-family: system-ui;
    line-height: 18px;
}


.navegador div{
    position: relative;
}

#btn_ver_carrito{
    display: flex;
    border: none;
    padding: 3% 40%;
    margin-bottom: 20px;  
    background-color: #0c6c2c;
    color: white;
    border-radius: 3px; 
}

/* dise単o funcional de carrito al hacerle a ver su contenido */
.cart-products .item img{
    width: 115px;
}

.cart-products .item{
    display: flex;
    align-items: center;
    /* border-bottom: solid 2px rgba(49, 221, 15, 0.927); */
    border-bottom: solid 2px rgb(8, 121, 21);;

    
}
.cart-products .item .item-content{
    margin: 0 19px;
    width: 201px;
}
.cart-products .item .item-content h5{
    margin: 0;
    font-size: 15px;
    font-weight: 400;
    font-family: system-ui;
}
.cart-products .item .item-content h6{
    margin: 0;
    font-size: 13px;
    font-weight: 400;
    font-family: system-ui;
}
.cart-products .item span{
    background-color: red;
    padding: 0px 5px;
    border-radius: 50%;
    color: #fff;
    font-family: system-ui;
    cursor: pointer;
}
.cart-products h3{
    margin-bottom: 0;
}
.cart-products .item .item-content h5.cart-price{
    font-weight: 700;
}

/*stilos del boton de cerrar*/
p.close-btn{
    top: -4px;
    right: 6px;
    cursor: pointer;
    color: #000;
}
p.author {
    display: flex;
    justify-content: center;
    FONT-VARIANT: JIS04;
    margin-top: 3%;
    gap: 7px;
}
p.author a {
    text-decoration: none;
    font-weight: 700;
    color: #000;
}


/* este bloque es la los estilos del scrollbar al haber mas de 3 productos */
.cart-products.scrollable {
    max-height: 590px; 
    overflow-y: auto;
}

.cart-products::-webkit-scrollbar{
    width: 8px;
    background-color: rgb(211, 211, 211);
}

.cart-products::-webkit-scrollbar-thumb{
    background-color: #0c6c2c;
    border-radius: 5px;
}


/* este bloque es para los estilos del carrusel */
.swiper {
    width: 100%;
    height: 500px;
    z-index: 1; 
  }

  .swiper-wrapper img{
    height: 500px;
    width: 100%;
    object-fit: cover;
  }




.swiper .swiper-button-prev,
.swiper .swiper-button-next {
    --swiper-navigation-size: 29px;
    --swiper-theme-color: #1f4404;  
    background-color: aliceblue; 
    /* background-color: #d7b418; */
    height: 70px;
    width: 50px;
    margin-top: -35px;
} 

.swiper .swiper-button-prev{
    border-radius: 0 65px 65px 0;
    left: -10px; 
} 
.swiper .swiper-button-next{
    border-radius: 65px 0 0 65px;
    right: -10px; 
}

.swiper .swiper-pagination{
    --swiper-pagination-color: rgb(255, 255, 255);

}


@media (max-width: 1000px) {
    .swiper-wrapper img{
        height: 310px; 
      }  
      .swiper {
        height: 310px;  
      }

    .swiper .swiper-button-prev,
    .swiper .swiper-button-next {
    --swiper-navigation-size: 19px;
    --swiper-theme-color: #409a00;  
    background-color: aliceblue; 
    /* background-color: #d7b418; */
    height: 60px;
    width: 40px;
    margin-top: -35px;
} 

}


/* este bloque es para estilo de la carta de recomendaciones o cosas interesantes de nuestro producto */
/* titulo */
.titulo_3{
    display: flex;
    justify-content: center;
    font-size: 0.9rem;
    font-family: titulo; 
}

.titulo_3 span{
    color: #537f14;
}

.section_targeta_publicitaria{
    display: flex;
    justify-content: center;
    /* background-color: #1f4404; */
}

.targeta_publicitaria{
    width: 70%; 
    height: 500px;
    /* background-color: #b31414; */
    margin-bottom: 10px;
    border-radius: 40px;
    background-image: url(../img/cartel_publisitario.png);

    background-size: cover; /* Ajusta la imagen al tama単o del contenedor */
    filter: blur(2px); 
    /* opacity: 0.7;  */
    position: relative;
    /* backdrop-filter: blur(10px); */
}

.section_targeta_publicitaria p{
    position: absolute;
    margin: 12% 50% 0% 20%;
    color: white; 
    font-size: 18px;
}


/*este bloque es para el dise単o de todas la cartas de productos*/
/* titulo */
.titulooo{
    display: flex;
    justify-content: center;
    /* font-size: 20px; */
    font-size: 1.4rem;
    font-family: titulo;
}

.titulooo span{
    color: #537f14;
}

.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.carta{
    max-width: 350px; 
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
    padding-bottom: 14px;
    margin-bottom: 40px;
}

.carta img{
    width: 100%;
    /* height: 500px; */
    object-fit: cover;
}

.carta .contenido_texto{
    margin: 0 20px;
    line-height: 1.3;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.titulo{
    margin-bottom: 0;
}
.contenido_texto p {
    margin-bottom: 0;
    margin-top: 0;
}

.carta h5{
    position: absolute;
    margin-top: 25px;
    /* margin-left: 245px; */
    margin-left: 14.7%;
    background-color: #1f4404;
    /* background-color: #d7b418; */
    color: #fff;
    font-size: 1.1rem;
    /* padding: 2px 7px 4px 21px; */
    padding: 4px 12px 8px 21px;
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
}

.carta div{
    position: relative;
}

.carta .precio{
    color: #41512a;
    font-weight: bold;
}

.btn-conoce-mas,
.btn-agregar-carito {   
    text-align: center;
    display: block;
    margin: 0 20px ;
    margin-bottom: 10px; 
}

.carta .btn-agregar-carito{
    text-decoration: none;
    background-color: #6fa622;
    padding: 7px 50px ;
    border-radius: 5px;
    color: #fff;
}

.carta .btn-agregar-carito:hover{
    background: #537f14;
}

.carta .btn-conoce-mas{
    text-decoration: none;
    margin-bottom: 4px;
    background-color: white;
    border: 1px solid black;
    text-decoration: none;
    padding: 7px 50px ;
    border-radius: 5px;
}


/* este bloque es de estilo para la galeria de imagenes */
/* titulo */
.titulo_2{
    display: flex;
    justify-content: center;
    font-size: 0.9rem;
    font-family: titulo; 
}


.titulo_2 span{
    color: #537f14;
}

.galeria_img{
    width: 90%;
    height: 500px;
    display: flex;
    margin: 0px 0px 10px 5%;
}


.galeria_img img{
    width: 100%;
    height: 100%;
    border-radius: 50px;
    object-fit: cover;
}

.img_grande{
    /* background-color: #d7b418; */
    width: 100%;
    height: 100%;
    margin-right: 10px;
}

.lateral_derecho{
    width: 100%;
    height: auto;
}


.lsd_imagenes{
    width: 100%;
    height: 50%;
    display: flex;
}


.img_lsdi{
    /* background-color: cadetblue; */
    width: 50%;
    height: 100%;
    margin-right: 10px;
}

.img_lsdd{
    /* background-color: aquamarine; */
    width: 50%;
    height: 100%;
}

.img_pd{
    /* background-color: #0c6c2c; */
    width: 100%;
    height: 48.6%;
    margin-top: 1%;
}

@media screen and (max-width:580px){
   .galeria_img{
    display: block;
    height: 500px;
    margin-right: 0px;
    margin-bottom: 20px;
    }

    .img_grande{
        width: 100%;
        height: 50%;
        margin-right: 0px;
        margin-bottom: 1%;
    }

    .lateral_derecho{
        width: 100%;
        height: 100%;  
    }

    .lsd_imagenes{
    width: 100%;
    height: 25%;
    display: flex;
    }

    .img_lsdi{
        width: 50%;
        height: auto;
        /* margin-right: 10px; */
    }

    .img_lsdd{
        width: 50%;
        height: auto;
    }

    .img_pd{
        width: 100%;
        height: 25%;  
    }
    
}

/* este bloque es para el dise単o del pie de paigina */
.footer_abajo{
    background-color: rgb(255, 255, 255);
}

footer{
    padding: 50px;
    background-color: rgb(0, 0, 0);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    left: 0;
    right: 0;
}

footer h1{
    display: flex;
    justify-content: center;
    color: white;
    margin-bottom: 20px;
    margin-top: -1%;
    font-size: 40px;
}

.footer_abajo .color_0{
    color:  #537f14;
    
}

footer p a {
    text-decoration: none;
    color: white;
}
footer p  {
    color: white;
    font-size: 17px;
}

footer h2 a  {
    text-decoration: none;
    color: white;
    font-family:titulo ;
    color:  #537f14;
    margin-left: 80px;
}


.todo_footer{
    display: flex;
    justify-content: space-between;
}

.informacion_footer{
    display: block;
    justify-content: space-between;
    margin: 0% 0%;
    margin-left: 80px;
    /* background-color: #0c6c2c; */
}

.contactanos_footer{
    display: block;
    justify-content: space-between;
    margin-left: 80px;
    /* background-color: #076ecd; */
}

.mensaje_footer{
    display: block;
    justify-content: space-between;
    margin-right: 80px;
    /* color:white; */
    /* background-color: #0acd07; */
}


.logos{
    display: flex;
    justify-content: space-between;
    margin: 0% 10%;
    margin-top: 10%;
}

.logos img{
    width: 20px;
}

.accordion_container {
    display: flex;
    justify-content: space-between;
}

/* ... (Estilos existentes) ... */

.todo_footer_mobile {
    display: none;
}

@media screen and (max-width: 1024px) {
    .todo_footer {
        display: none;
    }
    .accordion_container {
    display: block;
    
}

footer h2 a {
    margin: 0;
}

    .todo_footer_mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px;
    }

    .accordion_item {
        width: 100%;
        margin-bottom: 20px;
        background-color: #333;
        border-radius: 5px;
        overflow: hidden;
    }

    .accordion_item h2 {
        padding: 10px;
        margin: 0;
        cursor: pointer;
        color: white;
    }

    .accordion_item div {
        padding: 10px;
        display: none;
    }

    .accordion_item.active div {
        display: block;
    }
    .mensaje_footer, .contactanos_footer, .informacion_footer{
        margin: 0;
}
}






/* end footer */


























