body{
    margin: 0;
    padding: 0;
}

.carta_producto{
    display: flex;
    background-color: aqua;
    padding: 1% 0;
    margin: 0 5% ;
}

.carta_producto img{
    width: 6%;
    height: auto;
}

.contador_productos{
    display: flex;
}
