body{
    margin: 0;
    padding: 0;
}

.cartaProducto{
    display: flex;
}

.card-items{
    width: 1000px;
    /* height: auto; */
    /* background-color: aqua; */
}

.todoContenido{
    display: flex;
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
    padding: 15px;
    margin: 0 20px 0 10%;
    justify-content: space-between;
}

.item-content{
    display: flex;
}

.card-items img{
    width: 75px;
    height: auto;
}

.aumentador{
    display: flex;
    align-items: center;
    padding: 3px 15px;
    border: 1px solid rgb(163, 163, 163);
    margin: 30px 0;
    border-radius: 5px;    
}

.aumentador .text{
    /* background-color: aqua; */
    margin: 0 15px;
}

.aumentador .minus,.btn-agregar-carito:hover{
    cursor: pointer;
}

.carta-resumen{
    /* background-color: brown; */
    width: 500px;
    height: 300px;
}


.f{
    display: flex;
    justify-content: space-between;
    top: 0;
    bottom: 0;
    margin-bottom: -20px;
    background-color: aqua;
}

@media screen and (max-width:1100px){
    body{
        background-color: rgb(149, 255, 0);
    }
    
    .cartaProducto{
        display: block;
    }
    
}







